.description{
  padding: 60px 0;
  &__content{
    display: flex;
    column-gap: 70px;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }
  &__list{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    & > li{
      font-size: 19px;
      & > span{
        font-weight: 600;
        font-size: 19px;

      }
    }
  }
  &__left{
    width: 50%;
  }
  &__right{
    max-width: 40%;
  }
  &__title{
    color: #d49726;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 58px;

    text-align: center;
  }
  &__subtitle{
    text-align: center;
    font-size: 18px;
    margin: 20px 0 35px;
  }
  &__img{
    border-radius: 8px;
    box-shadow: 10px 12px 29px -14px rgba(0,0,0,.75);
    object-fit: cover;

    width: 100%;
  }
  &__instruction{
    margin: 50px 0 50px;
    &-title{
      font-size: 30px;
      text-align: center;

      margin-bottom: 20px;
    }
    &-text{
      font-size: 17px;
    }
  }
  &__btn{
    align-items: center;
    background-color: red;
    border-radius: 6px;
    color: #fff;
    display: flex;
    font-weight: 700;
    height: 45px;
    justify-content: center;
    width: 200px;

    border: none;
    outline: none;

    text-decoration: none;
  }
}