.meal{
  padding: 50px 0;

  min-height: 90vh;
  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;

  }
  &__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
  }
  &__title{
    font-size: 43px;
    color: #d49726;
    font-weight: 700;
    text-align: center;

    width: 520px;
    text-decoration: none;
    &-top{
      font-size: 30px;
      color: #000000;
      font-weight: 700;
    }
  }
  &__info{
    font-size: 18px;
  }
  &__img{
    max-height: 570px;

    border-radius: 10px;
    object-fit: cover;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    padding-bottom: 40px;
  }
  &__item{
    display: flex;
    flex-direction: column;

    row-gap: 7px;

    width: calc(33.33% - 30px);
    min-height: 400px;

    cursor: pointer;
    transition: .3s;

    border-radius: 8px;

    padding-bottom: 20px;

    &:hover{
      transition: .3s;
      transform: translateY(-10px);
      box-shadow: 10px 12px 20px -14px rgba(0,0,0,.75);
    }

    &-img{
      width: 100%;
      border-radius: 8px 8px 0 0;

    }
    &-title{
      font-size: 19px;
    }
  }
  &__empty{
    font-size: 35px;
    padding: 50px 0;
  }
  &__search-loading{
    min-height: 600px;
  }
}